
.form-container{
    background: white;
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
}
.title{
    padding: 3px;
    font-size: 25px;
}
hr{
    width: 80%;
    margin: auto;
}
.email{
    margin: 80px 20px;
}
.email input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    outline: none;
}
.submit{
    padding: 20px 0;
}
.submit input{
    height: 40px;
    width: 80px;
    border-radius: 5px;
}
.submit .cancel{
    margin: 0 30px;
    background: gray;
    color: black;
}
.submit .confirm{
    margin: 0 30px;
    background: green;
    color: white;
}
.submit .cancel:hover{
    background: gainsboro;
}
.submit .confirm:hover{
    background: greenyellow;
}


/* Confirm code */
.input{
    margin: 80px 20px;
}
.input input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    outline: none;
}


/* Update password */
.update_pwd{
    margin: 35px 20px;
}
.update_pwd input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    outline: none;
}

