body{
    margin-top: 10%;
    background-image: url("background.jpg");
}
.form-container{
    background-color: yellow;
    margin: auto;
    text-align: center;
    position: relative;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 10px 0px #666;

    overflow: hidden;
}
.title h1{
    font-size: 27px;
    text-align: left;
    padding: 10px 0;
    margin: 0 35px;
    border-bottom: 1px solid black;
}

.form-container span{
    font-weight: bold;
    padding-top: 10px;
    width: 150px;
    display: inline-block;
    cursor: pointer;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    position: absolute;
    max-width: 400px;
    transition: transform 1s;
}
form input{
    width: 300px;
    height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
}
form .nameuser input{
    width: 130px;
    margin: 5px 5px;
}
form .filename input{
    border: none;
    margin-left: -15px;
}
form .btn{
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    width: 310px;
    padding: 10px;
    margin-top: 5px; 
    cursor: pointer;

    transition: background 0.5s;
}
form .btn:hover{
    background: #563434;
}
form .btn:focus{
    outline: none;
}

#LoginForm{
    margin-top: 20%;
}
#Register{
    left: -400px;
    margin-top: 15%;
}

#Indicator{
    width: 150px;
    border: none;
    background: #ff523b;
    height: 3px;

    transform: translateX(-80px);    
    transition: transform 1s;
}
u{
    color: blue;
    cursor: pointer;
}
u:hover{
    color: red;
}